{% extends 'layout.html' %}

{% block title %}
<title>Tomacho - Projects</title>
{% endblock %}


{% block style %}
<style>
    .subject {
        /* justify-content: center;
        align-items: center; */
        margin:60px;
        border-top: 2px solid #eeeeee;
    }

    .subject h1 {
        font-size: 32px;
        color: #333333;
        text-transform: uppercase;
        margin: 0;
    }

    .project a {
        font-size: 30px;
        color: #333333;
        text-transform: uppercase;
        margin: 0;
    }

    .project p {
        font-size: 15px;
        color: #585858;
        left : 35px;
    }
</style>
{% endblock %}

{% block main %}
    <main>
        <div class="subject">
            <h1>Natural Language Processing</h1>
            <div class="project"></div>
                <h2><a href="projects/3Es">3E's page - A first contact with flask development</a></h2>
                <p>
                    First web development using Flask pyhthon tool, after some previous contact with React.js for frontend development.
                    Work consisted on creating a web page where three main topics should be explored: engineering, elephants and mares.
                    These were the random words picked in class. The name 3E's comes from the spelling of these words in Portuguese: engenharia, elefantes e éguas.
                </p>
            </div>
        </div>
    </main>
{% endblock %}